
<div class="interactive-background">
<div class="interactive-container">
    <div class="header gv-layout-flex row">
   
            
        	<div class="headerWrapper gv-flex-2">
	            <h1>Keeping up with the crossbenchers</h1>

	            <div class="standFirst">The disintegration of Pauline Hanson’s One Nation comes after a turbulent 23 months for the Senate. Politicians have switched parties multiple times, quit politics and fallen victim to the dual citizenship crisis. Here’s how it all happened</div>
	        </div>    

            <div class="crossbenchPicWrapper gv-flex-2">
            	<img src="<%= path %>/assets/crossbenchers.jpg"/>
            </div>	

    </div>

    <div class="header gv-layout-flex row">

    	<div class="gv-flex-3">
         <div class="gv-byline row">
                <a href="https://www.theguardian.com/profile/nick-evershed" class="left">Nick Evershed</a>
                <div class="shareButtons right">
                    <button class="interactive-share" data-network="facebook"></button>
                    <button class="interactive-share" data-network="twitter"></button>
                </div>  

            </div>
            <div class="scrollSymbol center">
                <div class="center chartSans">Scroll down</div>
                <div id="scrollDown" class="center"></div>
            </div>
        </div>    
    </div>
    <div id='container1' class='row'>
        <div class='graphicCol' id="graphicCol">
            <div class='graphicContainer'>
                <div id="graphic" class="chartSans">
  					<div class='chartTitle' id="chartTitle">
  					</div>
                </div>  
            </div>
        </div>  


        <div class='sectionCol'>  
            <div id='sections' class='gv-layout-flex'>

                 <div class="scrollerSection">
                    <a href="#1" id="no1"></a>
                    <div class='gv-flex-3'>
                    <p>After the 2016 double-dissolution election, the new Senate crossbench is made up of four <span class="onenation">One Nation senators</span>, three from the <span class="xenophon">Nick Xenophon Team</span>, senators <span class="lambie">Jacqui Lambie</span>, <span class="liberaldemocrats">David Leyonhjelm</span> and <span class="justiceparty">Derryn Hinch</span>, and <span class="familyfirst">Family First's Bob Day</span>.<p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#2" id="no2"></a>
                    <div class='gv-flex-3'>
                    <p><b>November 2016:</b> <span class="familyfirst">Family First's Bob Day</span> resigns when his company goes into liquidation. He was later found to not have been eligible for election due to an issue under section 44 of the constitution. <span class="onenation">One Nation's Rod Culleton</span> is referred to the high court and found not to have been validly elected owing to a conviction for larceny which was subsequently annulled but had stood throughout the election period.
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#3" id="no3"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2017:</b> Cory Bernardi quits the Liberal party and creates his own party, the <span class="conservatives">Australian Conservatives</span>.</p>
                    </div>
                </div>


                <div class="scrollerSection">
                    <a href="#4" id="no4"></a>
                    <div class='gv-flex-3'>
                    <p><b>March 2017:</b> The vacancy from <span class="onenation">One Nation's Rod Culleton</span> is filled by his brother-in-law, <span class="onenation">Peter Georgiou</span>.</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#5" id="no5"></a>
                    <div class='gv-flex-3'>
                    <p><b>April 2017:</b> The <span class="familyfirst">Family First</span> vacancy is filled by <span class="independent">Lucy Gichuhi</span>. She subsequently becomes an <span class="independent">independent</span> as <span class="familyfirst">Family First</span> dissolves.</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#6" id="no6"></a>
                    <div class='gv-flex-3'>
                    <p><b>October 2017:</b> <span class="onenation">Malcolm Roberts</span> is found ineligible to have been elected because of his dual citizenship. <span class="xenophon">Nick Xenophon</span>, who was also referred to the high court, announces his intention to resign from the Senate to run for the South Australian state parliament. <span class="xenophon">Xenophon</span> is later found to have been eligible for election and so could have remained in the Senate had he chosen to do so.</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#7" id="no7"></a>
                    <div class='gv-flex-3'>
                    <p><b>November 2017:</b> <span class="onenation">Malcolm Roberts'</span> vacancy is filled by <span class="onenation">One Nation's Fraser Anning</span>. <span class="xenophon">Nick Xenophon's</span> vacancy is filled by <span class="xenophon">Rex Patrick</span>.</p>
                    </div>
                </div>

                 <div class="scrollerSection">
                    <a href="#8" id="no8"></a>
                    <div class='gv-flex-3'>
                    <p><b>November 2017:</b> <span class="lambie">Jacqui Lambie</span> and <span class="xenophon">Skye Kakoschke-Moore</span>, a <span class="xenophon">Nick Xenophon Team</span> senator, both resign from the Senate owing to dual citizenship issues.</p>
                    </div>
                </div>

                 <div class="scrollerSection">
                    <a href="#9" id="no9"></a>
                    <div class='gv-flex-3'>
                    <p><b>January 2018:</b> <span class="onenation">Fraser Anning</span> declares he is leaving <span class="onenation">One Nation</span> and will sit as an <span class="independent">independent</span> senator.</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#10" id="no10"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2018:</b> <span class="lambie">Steve Martin</span> fills the <span class="lambie">Jacqui Lambie Network</span> vacancy left by <span class="lambie">Lambie's</span> resignation, then announces he has left the party and will be sitting as an <span class="independent">independent</span></p>
                    </div>
                </div>

                 <div class="scrollerSection">
                    <a href="#11" id="no11"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2018:</b> <span class="independent">Lucy Gichuhi</span> joins the Liberal party, saying: “I didn’t discover that until I did my maiden speech and I thought: 'Wow – I can’t believe how Liberal I am at the core.'”</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#12" id="no12"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2018:</b> <span class="xenophon">Tim Storer</span> fills the <span class="xenophon">Nick Xenophon Team</span> vacancy left by <span class="xenophon">Kakoschke-Moore</span>, then 10 days later declares he has left the party and will be sitting as an <span class="independent">independent</span></p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#13" id="no13"></a>
                    <div class='gv-flex-3'>
                    <p><b>April 2018:</b> The <span class="xenophon">Nick Xenophon Team</span> rebrands as the <span class="xenophon">Centre Alliance</span></p>
                    </div>
                </div>


                 <div class="scrollerSection">
                    <a href="#14" id="no14"></a>
                    <div class='gv-flex-3'>
                    <p><b>May 2018:</b> Former <span class="lambie">Jacqui Lambie Network</span> and then <span class="independent">independent</span> senator Steve Martin announces he has joined the Nationals</p>
                    </div>
                </div>


                <div class="scrollerSection">
                    <a href="#15" id="no15"></a>
                    <div class='gv-flex-3'>
                    <p><b>June 2018:</b> <span class="onenation">Pauline Hanson</span> accuses fellow <span class="onenation">One Nation</span> senator <span class="onenation">Brian Burston</span> of wanting to join the Shooters and Fishers party, which <span class="onenation">Burston</span> denies. <span class="onenation">Burston</span> remains a <span class="onenation">One Nation</span> senator (for the moment).</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#16" id="no16"></a>
                    <div class='gv-flex-3'>
                    <p><b>June 2018:</b> Former <span class="onenation">One Nation</span> and then <span class="independent">independent</span> senator <span class="independent">Fraser Anning</span> announces he has joined the <span class="katter">Katter party</span>, saying <span class="katter">Katter’s Australia party</span> represents traditional Australian values and a commitment to infrastructure development.</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#17" id="no17"></a>
                    <div class='gv-flex-3'>
                    <p><b>June 2018:</b> <span class="onenation">One Nation</span> senator Brian Burston quits the party and announces he will sit as an <span class="independent">independent</span>. Burston tells Fairfax: “There is no democracy in the party – every single decision made is made by Pauline Hanson, and if you don’t agree then you’re gone.”</p>
                    </div>
                </div>

                 <div class="scrollerSection" id="lastSection">
                    <a href="#18" id="no18"></a>
                    <div class='gv-flex-3'>
                    <p><b>June 2018:</b> Former <span class="onenation">One Nation</span> and then <span class="independent">independent</span> senator Brian Burston joins Clive Palmer's as-yet-unregistered <span class="clive">United Australia</span> party</p>
                    </div>
                </div>


            </div>
        </div>  



    </div>
    	<div id="gv-footer"></div>
    	<div class="footer" id="footer">
		<div class="credits_read_more"><h2>Read more</h2></div>
		<ul class="footer-grid">

			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/jun/03/seeing-red-the-personal-feuds-and-party-splits-that-plague-the-senate" target="_blank">
					<img src="https://i.guim.co.uk/img/media/c6b5f4109f847b739b64138e77e600f42e2a0dbd/0_296_4500_2699/master/4500.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=8d89c38b908fdaac8bf9e8237159a3e8">
					<div class="footer-text-content">
						<h2>Seeing red: the personal feuds and party splits that plague the Senate</h2>
					</div>
					</a>
				</div>
			</li>

			
			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/may/09/australia-citizenship-crisis-reignites-as-senator-and-four-mps-quit" target="_blank">
					<img src="https://i.guim.co.uk/img/media/ed37fb94f87cc98b34c9fe2a42d2af33ab5cc0c7/0_0_5000_3000/master/5000.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=3b93a1e2e11fb37d5f38d11cefff55dc">
					<div class="footer-text-content">
						<h2>Australia citizenship crisis reignites as senator and four MPs quit</h2>
					</div>
					</a>
				</div>
			</li>

			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/may/31/pauline-hanson-says-brian-burston-tried-to-defect-to-shooters-party" target="_blank">
					<img src="https://i.guim.co.uk/img/media/29930973df2c8ace57f6d22b7b39146dbbbc1d73/447_0_3500_2100/master/3500.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=5a2ccfbf52c20db452915c210d685eab">
					<div class="footer-text-content">
						<h2>Pauline Hanson breaks down on live TV as One Nation implodes</h2>
					</div>
					</a>
				</div>
			</li>

			<li>
				<div class="footer-item-container">
					<a class="class="anchor" href="https://www.theguardian.com/australia-news/2018/jun/04/former-one-nation-senator-fraser-anning-joins-katter-party" target="_blank">
					<img src="https://i.guim.co.uk/img/media/e3772107d65dd54fc6f848d232130a4c97fbd938/900_501_3235_1941/master/3235.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=83fc9576447091d4fbaaaf461a2822fb">
					<div class="footer-text-content">
						<h2>Former One Nation senator Fraser Anning joins Katter party</h2>
					</div>
					</a>
				</div>
			</li>

			

		</ul>
	</div>


</div>
</div>