
<div class="interactive-background">
<div class="interactive-container">
    <div class="header gv-layout-flex row">
        <div class='gv-flex-3'>
            <h1>Keeping up with the crossbenchers</h1>
            <div class="standFirst">Pauline Hanson's attempt to boot Brian Burston from One Nation is merely the latest in a turbulent 23 months for the Senate. Politicians have switched parties multiple times, quit politics, and fallen victim to the dual citizenship crisis. Here's how it all happened</div>
            <div class="gv-byline row">
                <a href="https://www.theguardian.com/profile/nick-evershed" class="left">Nick Evershed</a>
                <div class="shareButtons right">
                    <button class="interactive-share" data-network="facebook"></button>
                    <button class="interactive-share" data-network="twitter"></button>
                </div>  

            </div>
            <div class="scrollSymbol center">
                <div class="center chartSans">Scroll down</div>
                <div id="scrollDown" class="center"></div>
            </div>
        </div>
    </div>
    <div id='container1' class='row'>
        
    	<div class='graphicCol' id="graphicCol">
            <div class='graphicContainer'>
                <div id="graphic" class="chartSans">
  					<div class='chartTitle' id="chartTitle">
  					</div>
                </div>  
            </div>
        </div>  

        <div class='sectionCol'>  
            <div id='sections' class='gv-layout-flex'>

                 <div class="scrollerSection">
                    <a href="#1" id="no1"></a>
                    <div class='gv-flex-3'>
                    <p>Following the 2016 double-dissolution election, the new Senate crossbench was made up of four One Nation senators, three from the Nick Xenophon Team, and then senators Jacqui Lambie, David Leyonhjelm, Derryn Hinch, and Family First's Bob Day.<p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#2" id="no2"></a>
                    <div class='gv-flex-3'>
                    <p><b>November 2016:</b> Family First's Bob Day resigned due to an issue under section 44 of the constitution. One Nation's Rod Culleton was referred to the high court and found to not have been validly elected due to a conviction for larceny which was subsequently annulled, but had stood throughout the election period. Rod Culleton is replaced by Peter Georgiou, and Bob Day is replaced by Lucy Gichuhi. Lucy becomes an independent as Family First dissolves.<p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#3" id="no3"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2017:</b> Cory Bernardi quits the Liberal party and creates his own party, the Australian Conservatives</p>
                    </div>
                </div>


                <div class="scrollerSection">
                    <a href="#4" id="no4"></a>
                    <div class='gv-flex-3'>
                    <p><b>October 2017:</b> Malcolm Roberts is found ineligible to have been elected due to being a dual citizen. Nick Xenophon, who was also referred to the High Court, announces his intention to resign from the senate and run for the South Australian state parliament. Xenophon is later found to have been eligible for election, and so could have remained in the senate if he had chosen to do so.</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#5" id="no5"></a>
                    <div class='gv-flex-3'>
                    <p><b>November 2017:</b> Malcolm Roberts' vacancy is filled by One Nation's Fraser Anning. Nick Xenophon's vacancy is filled by Rex Patrick.</p>
                    </div>
                </div>

                 <div class="scrollerSection">
                    <a href="#6" id="no6"></a>
                    <div class='gv-flex-3'>
                    <p><b>November 2017:</b> Jacqui Lambie and Skye Kakoschke-Moore, a Nick Xenophon Team senator, both resign from the senate due to dual citizenship issues.</p>
                    </div>
                </div>

                 <div class="scrollerSection">
                    <a href="#7" id="no7"></a>
                    <div class='gv-flex-3'>
                    <p><b>January 2018:</b> Fraser Anning declares he is leaving One Nation, and will sit as an independent senator.</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#8" id="no8"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2018:</b> Steve Martin fills the Jacqui Lambie Network vacancy left by Lambie's resignation, and then announces he has left the party and will be sitting as an independent</p>
                    </div>
                </div>

                 <div class="scrollerSection">
                    <a href="#9" id="no9"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2018:</b> Lucy Gichuhi joins the Liberal party, saying: “I didn’t discover that until I did my maiden speech and I thought wow - I can’t believe how liberal I am at the core.”</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#10" id="no10"></a>
                    <div class='gv-flex-3'>
                    <p><b>February 2018:</b> Tim Storer fills the Nick Xenophon Team vacancy left by Kakoschke-Moore, and then 10 days later declares he has left the party and will be sitting as an independent</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#11" id="no11"></a>
                    <div class='gv-flex-3'>
                    <p><b>April 2018:</b> The Nick Xenophon Team rebrands as the Centre Alliance</p>
                    </div>
                </div>


                 <div class="scrollerSection">
                    <a href="#12" id="no12"></a>
                    <div class='gv-flex-3'>
                    <p><b>May 2018:</b> Former Jacqui Lambie Network and then independent senator Steve Martin announces he has joined the Nationals</p>
                    </div>
                </div>

                <div class="scrollerSection">
                    <a href="#13" id="no13"></a>
                    <div class='gv-flex-3'>
                    <p><b>June 2018:</b> Pauline Hanson accuses fellow One Nation senator Brian Burston of wanting to join the Shooters and Fishers party, which Burston denies. Burston remains a One Nation senator (for the moment).</p>
                    </div>
                </div>

            </div>
        </div>  


    </div>
    <div id='gv-footer'> </div>


</div>
</div>