@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
@import "fullscreen";
@import "share";
@import "footer";

html {
	font-size: 100%;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
    
}
.interactive-background {
	background-color: #dcdcdc;
}

.interactive-container {


    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;

    padding: 10px;

    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    a {
	color:#005689;
	text-decoration: none !important;
	border-bottom: 0.0625rem solid #dcdcdc;
	-webkit-transition: border-color 0.15s ease-out;
	transition: border-color 0.15s ease-out;
}

a:hover {
	border-color: #6e99b3;
}

	p {
		font-size:1.1rem;
		line-height:1.5rem;
	}

	h2 {
		font-size:1.5rem;
		font-weight:bold;
	}

	.center {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}

	.right {
		float: right;
	}

	.sectionCol {
		float:left;
		width:100%;
		margin-right:1%; 
	}

	.clusterLabel {
		pointer-events:none;
	}

	#footer {
		    margin-top: 100px;
		    border-top: 1px solid #bebebe;
	}

	.graphicCol {
		position: static;
		bottom:0;
		background: #FFF;
		z-index: 5;
		margin-top: 10px;
	}

	.scrollSymbol {
		margin-top:2%;
		margin-bottom:1%;
	}

	.tooltip {
		background:#FFFFFF;
		max-width:200px;
		padding:5px;
		font-size:0.8rem;
		color:#767676;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	.headerWrapper, .crossbenchPicWrapper {
		float: left;
	}

	.tooltip2 {
		background:#FFFFFF;
		max-width:200px;
		padding:5px;
		font-size:0.8rem;
		color:#767676;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	.overlay {
		fill: none;
		pointer-events: all;
	}

	.govLabel {
		fill: #dcdcdc;
		text-transform: uppercase;
		font-weight: bold;
	}

	.estimatesText {
		font-size: 0.8rem;
		fill: #767676;
	}

	path.annotationLine  {
	  fill: none;
	  stroke-width: .5;
	  stroke: black;
	}

	text.annotationText  {
		font-size:0.8rem;
		fill:#000;
	}

	#scrollDown {
		width:50px;
		height:50px;
		background-image: url("<%= path %>/assets/down-arrow2.svg");
		background-size: 45px 45px;
		background-repeat: no-repeat;
	    background-position: center; 
	}

	.layer:hover {
		/*opacity: 0.8;*/
		stroke: #000;
		stroke-width:0.5px;
	}

	.scrollerSection {

		h2 {
			font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
			font-size:1.2rem;
		}
		
		.onenation {
			border-bottom: 2px solid #1554ca;
		}

		.xenophon {
			border-bottom: 2px solid rgb(255, 88, 0);
		}

		.familyfirst {
			border-bottom: 2px solid #333333;
		}

		.liberaldemocrats {
			border-bottom: 2px solid #1db586;
		}

		.justiceparty {
			border-bottom: 2px solid #4a7801;
		}

		.lambie {
			border-bottom: 2px solid #FFA1E1;
		}

		.conservatives {
			border-bottom: 2px solid #ff9b0b;
		}

		.independent {
			border-bottom: 2px solid #767676;
		}

		.katter {
			border-bottom: 2px solid #5ebfba;
		}

		.clive {
			border-bottom: 2px solid #b51800;
		}
	}

	.graphicContainer.graph-scroll-fixed #graphic {
		position: fixed;
		bottom:0;
	}

	.headerContainer {
		position:absolute;
		left:5%;
		bottom:30%;
		color:#FFF;
	}

	.header h1 {
		font-size:3rem;
		line-height:3rem; 
		font-weight:bold;
		margin-bottom:25px;
		margin-top:25px;
	}

	.header .standFirst {

		color:#767676;
		font-size:1.3rem;
		line-height:1.3rem;
	}

	.header {
		overflow: auto;
	}

	.gv-byline {
		font-weight:bold;
		margin-top:5px;
		font-size:1.1rem;
	}

	.gv-byline a {
		margin-top:5px;
	}

	#chartTitle {
		position:absolute;
		top:5%;
		left:50%;
		opacity:0;
	}

	#selectorContainer {
		margin-bottom: 20px;
	}

	.chartSans {
		font-size:1rem;
		color:#767676;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	.tipText {
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
		font-size:0.9rem;
	}

	svg text {
		fill:#767676;
		font-size:1rem;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	.axis text {
		font-size: 0.8rem;
	}

	.subTitle {
		font-size:1rem;
		color:#808080;
		font-weight:bold;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	#container1, #container2{
		width: 100%;
		overflow: auto;
	}

	
	#sections > div, #sections2 > div{
		background: white;
		opacity: .2;
		margin-bottom:120px;
	}
	
	#sections > div.graph-scroll-active, #sections2 > div.graph-scroll-active{
		opacity: 1;
	}
	
	.graphicContainer.graph-scroll-fixed {
		position: absolute;
		bottom: 0px;
	}

	#infoButton {
		position:absolute;
		top:10px;
		left:10px;
		width:30px;
		height:30px;
		background-image: url("assets/imgs/info.svg");
		background-size: 25px 25px;
		background-repeat: no-repeat;
	    background-position: center; 
	   	cursor:pointer;
	}

	#keyPanel {
		position:absolute;
		left:10px;
		top:40px;
		border:2px solid #eaeaea;
		padding:1%; 
		opacity:0;
		pointer-events:none;
		background:#FFF; 
	}

	.key ul {
		list-style-type:none;
		line-height:0.8rem;
	}

	.keyText {
		font-size:0.8rem;
		line-height:0.8rem;
	}

	.keyDiv .keyCircle:first-of-type {
	    margin-left:0;
	}

	.keyCircle {
		width:12px;
		height:12px;
		border-radius: 50%;
		display: inline-block;
	}

	.keyFilledCircle {
		width:10px;
		height:10px;
		border-radius: 50%;
		display: inline-block;
	}
	

	#graphic {
		position: relative;
		// float:right;
		// width:100%;
		-webkit-box-shadow: 0px -13px 16px -11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px -13px 16px -11px rgba(0,0,0,0.75);
		box-shadow: 0px -13px 16px -11px rgba(0,0,0,0.75);
		}

	.mono{
		font-family: monospace;
	}
	svg{
		background-color: #FFF;
	}

	#crossbenchMain {
		font-family: "Guardian Egyptian Web",Georgia,serif;
		fill:#c70000;
		font-size:25px;
	}

	#crossbenchThe {
		font-family: "Guardian Egyptian Web",Georgia,serif;
		fill:#cc2b12;
		font-size:15px;
	}

/*	.categoryLabel {
		fill:#000;
	}*/

	#scoreCounter {
		position: absolute;
		top:2%;
		left:2%;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #bfbfbf;
		shape-rendering: crispEdges;
	}

	.axis text {
		fill:#767676;
	}

	.links line {
	  stroke-opacity: 0.8;
	}

/*	.nodes circle {
	  stroke-width: 2px;
	  stroke-opacity: 0.8;
	}*/

	.nodes circle:hover {
		stroke-opacity: 1;
	}

	#partySelector {
		max-width: 200px;
	}

	@media (max-width: 450px) {

		// #partySelector {
		// 	max-width: 100px;
		// }

		.tipText {
		font-size:0.8rem;
		}

		.axis text {
		font-size: 0.6rem;
	}

	}

	@media (max-width: 450px) {

		.mobHide {
		display: none;
		}

	}

	@media (max-width: 980px) {

		.crossbenchPicWrapper {
		display: none;
		}

	}

	.tipText {
		font-size:0.9rem;
		color:#FFF;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
		pointer-events:none;
	}

	#infoBox {
		position: absolute;
		width:10%;
		top:5%;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px 4px #242424;
		-webkit-box-shadow: 0px 0px 10px 4px #242424;
		-moz-box-shadow: 0px 0px 10px 4px #242424;
		-o-box-shadow: 0px 0px 10px 4px #242424;
	}

	

	@media(min-width:980px){

	.gv-layout-flex {
	 width: 100%;
	 max-width: 960px;
	}

	.gv-half, .gv-full {

	}

	.gv-layout-flex {
		margin: 0 -10px;
	}

	.gv-row .gv-lead {
		margin-top: 120px;
	}

	.gv-row:first-of-type .gv-lead {
		margin-top: 0px;
	}

	.gv-lead-photo {
		margin: 0px -20px 20px -20px;
	}

	.gv-flex {
		max-width: 640px;		
	}


	div[class^="gv-flex-"] {
		padding: 0 10px 0px 10px;
		min-height: 20px;
		float: left;
		vertical-align: top;

	}

	.gv-flex-1{
		width: 25%;
	}

	.gv-flex-2 {
		width: 50%;
	}

	.gv-flex-3 {
		width: 75%;
	}

	.gv-flex-4 {
		width: 100%;
	}



	.gv-full, .gv-half {
	
	}

	
}

@media(min-width:1140px){

	div[class^="gv-flex-"] {
		margin: 0 10px 20px 10px;
	
		float: left;
		vertical-align: top;
		padding: 0;
	}
	
	.gv-flex-1{
		width: 220px;
	}

	.gv-flex-2 {
		width: 460px;
	}

	.gv-flex-3 {
		width: 700px;
	}

	.gv-flex-4 {
		width: 940px;
	}

	.gv-layout-flex {
		margin: 0 0 0 150px;
	}

	.gv-flex {
		max-width: 140px;
		float: left;
	}
}

@media(min-width:1300px){
	.gv-layout-flex {
		margin-left: 230px;
	}

	.gv-flex {
		max-width: 220px;
	}
}

@media(max-width:640px){

	.header h1 {
		font-size:1.5rem;
		line-height:1.5rem;
	}

	.header .standFirst  {
		font-size:1rem;
		line-height:1rem;
	}

	#selectorContainer {
		top: 17px;
    	left: 60px;
	}

}

@media(max-width:410px){

	.header h1 {
		font-size:1.3rem;
		line-height:1.3rem;
	}

	.header .standFirst  {
		font-size:1rem;
		line-height:1rem;
	}


}



}